<header>
    <div class="we_are">
        <span>Hello</span>, I am
    </div>
    <div id="logo" aria-label="coffee"><h1>Division by Zero</h1></div>
    <div class="we_are">
        <ul>
            <li><i class="fa fa-puzzle-piece" aria-hidden="true"></i> THINK</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> DEVELOP</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> DESIGN</li>
        </ul>
    </div>
</header>
<section id="we_make">
    <h2>I make things for humans.</h2>
    <div class="content">
        <ul>
            <li>
                <h3>Websites</h3> There are over one billion websites on the web. I am no fan of this ocean of sameness: the world needs more remarkable content. I will make yours will stand out like an island.
            </li>
            <li>
                <h3>Apps<span> (<i class="fa fa-apple" aria-label="iOS"></i></span> + <span><i class="fa fa-android" aria-label="android"></i>)</span></h3> Mobile comes first in all my work, although sometimes that's not enough. Look around: everybody is glued to their smartphones right now; we could hit them with a stylish, fast native app.
            </li>
            <li>
                <h3>Analysis+Reviews</h3> Managing an online business is overwhelming — let me help you. I will review your website and offer actionable, human-readable, bite-sized advice. Let's take it to the next level.
            </li>
        </ul>
    </div>
</section>
<section id="we_believe">
    <h2>I believe in a few things.</h2>
    <div class="content">
        <ul>
            <li><h3>Service</h3>I help out interesting humans doing epic things. I try my best to solve raw real, tangible problems.
                <div>By the way - if you're not a human, contact me anyway; we can work it out.</div></li>
            <li><h3>Simplicity</h3>Less is more. I don't like technical jargon, flashy designs and complicated ideas. I twist minimalism and simplicity to get rid of the unnecessary and go straight to the essence of things.</li>
            <li><h3>Integrity</h3>I do what's right for you, not what's easy for me. I don't compromise: you always come first.</li>
            <li><h3>Excellence</h3>I am not all-knowing, and that's ok. I love to learn and become a bit better every single day: quality is paramount here.</li>
            <li><h3>Creativity</h3>I love what I do. I am excited to bring this spark in all our interactions; you can expect to have fun working with me.</li>
        </ul>
    </div>
</section>
<section id="we_work">
    <h2>I love meaningful work.</h2>
    <div class="content">
        <ul>
            <li><a href="https://www.gov.uk/government/publications/govuk-pay/govuk-pay" target="_blank"><h3 class="web">GOV.UK Pay</h3>The Government Digital Service is on a big mission to transform the digital landscape in the UK. Check them out, they are awesome. I am proud to be helping build the Pay platform, which will make taking online payments a breeze.</a></li>
            <li><a href="http://www.element34.net/seleniumbox/" target="_blank"><h3 class="web">Selenium Box</h3>Element34 is a boutique consultancy; they co-created Selenium — no small feat. I am working with them to build the Selenium Box, which will rock the enterprise world.</a></li>
        </ul>
    </div>
</section>
<section id="say_hello">
    <h2>Make Contact.</h2>
    <div>
        <a href="mailto:hello@divisionbyzero.co" class="web"><span>hello</span>@divisionbyzero.co</a>
    </div>
</section>
<footer>This is the year {{ site.time | date: '%Y' }} | Made with <i class="fa fa-heart" aria-label="love"></i> and <i class="fa fa-coffee" aria-label="coffee"></i> by Division By Zero. <br/> Just in case you were wondering: I am registered in England and Wales, <span>10206010</span>.</div></footer>