<header>
    <div id="particles-js"></div>
    <div class="we_are">
        <span>Hello</span>, you've found
    </div>
    <div id="logo" aria-label="coffee"><h1>Division by Zero</h1></div>
    <div class="we_are">
        <ul>
            <li><i class="fa fa-puzzle-piece" aria-hidden="true"></i> THINK</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> DEVELOP</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> DESIGN</li>
        </ul>
    </div>
</header>
<section id="we_make">
    <h2>Making things for humans.</h2>
    <div class="content">
        <ul>
            <li>
                <h3>Websites and Apps (<span><i class="fa fa-apple" aria-label="iOS"></i></span> + <span><i class="fa fa-android" aria-label="android"></i></span>)</h3> This is your home on the internet, and we want to make it exceptional (psst - if you got the pun, we should be friends).
                When it comes to building things, we are both the architect and the craftsman: functionality has to meet substance, and look damn good.
            </li>
            <li>
                <h3>Business owners' Lifeline</h3> Helping small business owners is our mission. We know, because this is a small business, too. Technology can help streamlining your processes and leave you the peace of mind to do what is most valuable: taking care of your business, not of your servers.
            </li>
        </ul>
    </div>
</section>
<section id="we_believe">
    <h2>Character is sexy.</h2>
    <div class="content">
        <ul>
            <li><h3>Service</h3>We help out interesting humans doing good things. We solve raw real, tangible problems.
                <div>By the way - if you're not a human, contact us anyway; we can work it out.</div></li>
            <li><h3>Simplicity</h3>Less is more. We don't like technical jargon, flashy designs and complicated ideas. We twist minimalism and simplicity to get rid of the unnecessary and go straight to the essence of things.</li>
            <li><h3>Integrity</h3>Do what's right, not what's easy. We are very selective as to which projects we work on.</li>
            <li><h3>Excellence</h3>We are not all-knowing, and that's ok. We share a love for learning and becoming a bit better every single day.</li>
            <li><h3>Creativity</h3>We love what we do, and we want to have fun doing it. We are excited to bring this spark in all our interactions.</li>
        </ul>
    </div>
</section>
<section id="we_work">
    <h2>Keeping the hustle alive.</h2>
    <div class="content">
        <ul>
            <li>We are currently helping buiding <a href="https://www.gov.uk/government/publications/govuk-pay/govuk-pay" target="_blank"><h3 class="web">GOV.UK Pay</h3>, a payment platform which allows British citizens to pay for services via the mighty internet. <br/>
                The Government Digital Service is on a big mission to transform the digital landscape in the UK; check them out, they are awesome.</a></li>
            <li>We worked on <a href="http://www.element34.net/seleniumbox/" target="_blank"><h3 class="web">Selenium Box</h3>, helping enterprises skyrocket their test automation. Element34 is a boutique consultancy: they co-created Selenium.</a></li>
        </ul>
    </div>
</section>
<section id="say_hello">
    <h2>Say Hello.</h2>
    <div>
        <a href="mailto:hello@divisionbyzero.co" class="web"><span>hello</span>@divisionbyzero.co</a>
    </div>
</section>