<header>
    <div class="we_are">
        <span>Hello</span>, we are
    </div>
    <div id="logo" aria-label="coffee"><h1>Division by Zero</h1></div>
    <div class="we_are">
        <ul>
            <li><i class="fa fa-puzzle-piece" aria-hidden="true"></i> THINK</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> DEVELOP</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> DESIGN</li>
        </ul>
    </div>
</header>
<section id="we_make">
    <h2>We make things for humans.</h2>
    <div class="content">
        <ul>
            <li>
                <h3>Websites</h3> There are over one billion websites; that's a lot of zeros, right there. We are no fan of this ocean of sameness: the world needs more remarkable content and we will help yours stand out like an island.
            </li>
            <li>
                <h3>Apps<span> (<i class="fa fa-apple" aria-label="iOS"></i></span> + <span><i class="fa fa-android" aria-label="android"></i>)</span></h3> Mobile comes first in all our work. Look around: everybody is glued to their smartphones right now; a stylish, fast native app might be all they need.
            </li>
            <li>
                <h3>Consult</h3> We can list out all the buzz-words: test automation, microservices, high scalability, functional programming, agile methodologies. Ask us about them.
            </li>
            <li>
                <h3>Analysis+Reviews</h3> Managing an online business is overwhelming. Here's how we can help: we will review your website and offer actionable, human-readable, bite-sized advice. Let's take it to the next level together.
            </li>
        </ul>
    </div>
</section>
<section id="we_believe">
    <h2>We are principled.</h2>
    <div class="content">
        <ul>
            <li><h3>Service</h3>We help out interesting humans doing good things. We solve raw real, tangible problems.
                <div>By the way - if you're not a human, contact us anyway; we can work it out.</div></li>
            <li><h3>Simplicity</h3>Less is more. We don't like technical jargon, flashy designs and complicated ideas. We twist minimalism and simplicity to get rid of the unnecessary and go straight to the essence of things.</li>
            <li><h3>Integrity</h3>We do what's right for you, not what's easy for us. We don't compromise: you always come first.</li>
            <li><h3>Excellence</h3>We are not all-knowing, and that's ok. We share a love for learning and becoming a bit better every single day: quality is paramount.</li>
            <li><h3>Creativity</h3>We love what we do. We are excited to bring this spark in all our interactions; you can expect to have fun working with us.</li>
        </ul>
    </div>
</section>
<section id="we_work">
    <h2>We work with a purpose.</h2>
    <div class="content">
        <ul>
            <li><a href="https://www.gov.uk/government/publications/govuk-pay/govuk-pay" target="_blank"><h3 class="web">GOV.UK Pay</h3>The Government Digital Service is on a big mission to transform the digital landscape in the UK. Check them out, they are awesome.</a></li>
            <li><a href="http://www.element34.net/seleniumbox/" target="_blank"><h3 class="web">Selenium Box</h3>Element34 is a boutique consultancy. They co-created Selenium — no small feat and now they are rocking the enterprise world.</a></li>
        </ul>
    </div>
</section>
<section id="say_hello">
    <h2>Make Contact.</h2>
    <div>
        <a href="mailto:hello@divisionbyzero.co" class="web"><span>hello</span>@divisionbyzero.co</a>
    </div>
</section>
<footer><div>Made with <i class="fa fa-heart" aria-label="love"></i> and <i class="fa fa-coffee" aria-label="coffee"></i> by <a href="//twitter.com/silmnd">Silvia</a>. <br/> Just in case you were wondering: Division by Zero Ltd is registered in England and Wales, 10206010.</div></footer>