<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">>_What we offer</h2>
                <h3 class="section-subheading text-muted">...when not causing exceptions and wreaking havoc</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Software Craftsmanship</h4>
                <h5>We build products</h5>
                <p class="text-muted">Building software is our trade and our passion. We are makers at heart, curious about technology, and how to use it to make the world a better place. We care deeply about our craft, bringing our experience in multiple area of the business (e-commerce, government, finance) to delight you and your users.</p>
            </div>
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Best Practices</h4>
                <h5>We teach (& learn)</h5>
                <p class="text-muted">Quality is not an absolute concept: we will work with you to define what good software means to you and your business, establishing a common understanding of good practices. We believe that everybody can benefit from applying a set of time and battle-tested concepts, like Continuous Integration and Deployment, Automated Tests, Agile Methodologies and more. </p>
            </div>
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-saver fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Entrepreneurship</h4>
                <h5>We have your back</h5>
                <p class="text-muted">We know how it feels to have so many great ideas, but no technical knowledge to make them a reality. We consult with early stage startups and founders, giving technical advice, handling the crucial first interviews, and helping bootstrapping the next great project.</p>
            </div>
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">World Domination</h4>
                <h5>Well...</h5>
                <p class="text-muted">Shh... that's our secret objective. Here's to boring SMART goals!</p>
            </div>
        </div>
    </div>
</section>